<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hiroki_tsukazawa.lifee_2018">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name="com.nifty.cloud.mb.core.NCMBApplicationController"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="ホーム"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".medical_checkup"
            android:label="健康診断">
        </activity>
        <activity
            android:name=".medical_result"
            android:label="結果入力">
        </activity>
        <activity
            android:name=".bmi"
            android:label="BMI">
        </activity>
        <activity
            android:name=".bmi_result"
            android:label="結果入力">
        </activity>
        <activity
            android:name=".lifestyle_diseases"
            android:label="生活習慣病検査">
        </activity>
        <activity
            android:name=".lifestyle_result"
            android:label="生活習慣病検査結果">
        </activity>
        <activity
            android:name=".lifstylr_result2"
            android:label="生活習慣病検査結果">
        </activity>
        <activity
            android:name=".cancer_related"
            android:label="癌関連検査">
        </activity>
        <activity
            android:name=".infection_test"
            android:label="感染症検査">
        </activity>
        <activity
            android:name=".biochemical_examination"
            android:label="生化学検査">
        </activity>
        <activity
            android:name=".notice"
            android:label="お知らせ">
        </activity>
        <activity
            android:name=".tutorial"
            android:label="チュートリアル">
        </activity>
        <activity
            android:name=".mail"
            android:label="メールアドレス変更">
        </activity>
        <activity
            android:name=".pass"
            android:label="パスワード変更">
        </activity>
        <activity
            android:name=".information"
            android:label="このアプリについて">
        </activity>
        <activity
            android:name=".privacy"
            android:label="プライバシーポリシー">
        </activity>
        <activity
            android:name=".service"
            android:label="サービス利用規約">
        </activity>
        <activity
            android:name=".licens"
            android:label="ライセンス">
        </activity>
        <activity
            android:name=".help"
            android:label="ヘルプ">
        </activity>
        <activity
            android:name=".life_01"
            android:label="生活習慣病(13項目)">
        </activity>
        <activity
            android:name=".login"
            android:label="ログイン画面">
        </activity>
    </application>
</manifest>